* {
    font-family: 'Inter';
}

/* li {
    outline: solid yellow;
}

header,
section,
footer {
    outline: solid green;
} */

.container {
    /* outline: solid red; */

    width: 1182px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.hero-header-background {
    background-image: url(/images/image8.png);
}

.header {
    padding-top: 23px;
    padding-bottom: 364px;
}

.header-flex {
    display: flex;
}

.header-navigation {
    display: flex;
}

.header-pages {
    display: flex;
    gap: 32px;
}

.header-page {
    color: #E4D8CC;
    font-size: 11px;
    line-height: 2.18;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.header-contacts {
    display: flex;
    gap: 38px;
    margin-left: auto;
}

.header-link {
    color: #E4D8CC;
    font-size: 11px;
    line-height: 2.18;
    letter-spacing: 1.5px;
}

.hero {
    padding-bottom: 116px;
}

.hero-title {
    font-size: 57px;
    line-height: 1.05;
    color: #E4D8CC;
    max-width: 838px;
    margin-bottom: 14px;
}

.hero-description {
    font-size: 18px;
    line-height: 1.55;
    color: #C3BAB1;
    max-width: 561px;
    margin-bottom: 42px;
}

.hero-list {
    display: flex;
    gap: 16px;
}

.hero-btn {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 14px 34px;
}

.purple-btn {
    background: #7837F3;
    border: 2px solid #7837F3;
}

.white-btn {
    background: rgba(228, 216, 204, 0.5);
}

.sale {
    background-color: #E7DFD8;
    padding-top: 76px;
    padding-bottom: 75px;
}

.sale-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.sale-flex1 {
    display: flex;
    flex-direction: column;
}

.sale-flex2 {
    display: flex;
}

.sale-title {
    font-size: 54px;
    line-height: 1.07;
    color: #101010;
    max-width: 507px;
    margin-bottom: 15px;
}

.sale-description {
    font-size: 16px;
    line-height: 1.37;
    color: #101010;
    max-width: 452px;
}

.sale-img {
    width: 539px;
    height: 283px;
    margin-left: 106px;
}

.equity {
    background-color: #E7DFD8;
    padding-top: 124px;
    padding-bottom: 101px;
}

.equity-flex {
    display: flex;
    align-items: center;
}

.equity-flex1 {
    display: flex;
    flex-direction: column;
}

.equity-flex2 {
    display: flex;
    align-items: center;
}

.equity-img {
    width: 518px;
    height: 500px;
    margin-right: 116px;
}

.equity-number {
    color: #101010;
    font-size: 38px;
    line-height: 0.63;
    background-color: #B99FEA;
    border-radius: 100px;
    margin-right: 12px;
    text-align: center;
    padding: 25px 29px 25px 28px;
}

.equity-subtitle {
    font-size: 19px;
    line-height: 1.89;
    color: #101010;
}

.equity-title {
    font-size: 35px;
    line-height: 1.31;
    letter-spacing: 1px;
    color: #101010;
    max-width: 459px;
    margin-top: 18px;
    margin-bottom: 11px;
}

.equity-paragraph {
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #101010;
}

.equity-description {
    font-size: 14px;
    line-height: 1.57;
    color: #101010;
    max-width: 494px;
    margin-top: 48px;
}

.investment {
    background-color: #E7DFD8;
    padding-top: 124px;
    padding-bottom: 101px;
}

.investment-flex {
    display: flex;
    align-items: center;
}

.investment-flex1 {
    display: flex;
    flex-direction: column;
}

.investment-flex2 {
    display: flex;
    align-items: center;
}

.investment-img {
    width: 518px;
    height: 500px;
    margin-left: 139px;
}

.investment-number {
    color: #101010;
    font-size: 38px;
    line-height: 0.63;
    margin-right: 12px;
    background: #EBA789;
    border-radius: 100px;
    padding: 25px;
}

.investment-subtitle {
    font-size: 19px;
    line-height: 1.89;
    color: #101010;
}

.investment-title {
    font-size: 35px;
    line-height: 1.31;
    letter-spacing: 1px;
    color: #101010;
    max-width: 490px;
    margin-top: 18px;
    margin-bottom: 9px;
}

.investment-paragraph {
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #101010;
}

.investment-description {
    font-size: 14px;
    line-height: 1.57;
    color: #101010;
    max-width: 495px;
    margin-top: 49px;
}

.wealth {
    background-color: #E7DFD8;
    padding-top: 124px;
    padding-bottom: 101px;
}

.wealth-flex {
    display: flex;
    align-items: center;
}

.wealth-flex1 {
    display: flex;
    flex-direction: column;
}

.wealth-flex2 {
    display: flex;
    align-items: center;
}

.wealth-img {
    width: 518px;
    height: 500px;
    margin-right: 116px;
}

.wealth-number {
    color: #101010;
    font-size: 38px;
    line-height: 0.63;
    margin-right: 12px;
    background: #96DBC6;
    border-radius: 100px;
    padding: 25px;
}

.wealth-subtitle {
    font-size: 19px;
    line-height: 1.89;
    color: #101010;
}

.wealth-title {
    font-size: 35px;
    line-height: 1.31;
    letter-spacing: 1px;
    color: #101010;
    max-width: 491px;
    margin-top: 18px;
    margin-bottom: 9px;
}

.wealth-paragraph {
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #101010;
}

.wealth-description {
    font-size: 14px;
    line-height: 1.57;
    color: #101010;
    max-width: 485px;
    margin-top: 49px;
}

.info {
    padding-top: 116px;
    padding-bottom: 140px;
}

.info-list1 {
    display: flex;
    justify-content: center;
    column-gap: 128px;
}

.info-img {
    width: 72px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
}

.info-description {
    color: #E4D8CC;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 61px;
}

.info-description-pink {
    max-width: 489px;
}

.info-description-lightblue {
    max-width: 459px;
}

.info-list2 {
    display: flex;
    gap: 370px;
    justify-content: center;
    align-items: center;
}

.info-flex {
    display: flex;
    align-items: center;
}

.info-photo {
    width: 73px;
    height: 73px;
    margin-right: 29px;
}

.info-flex1 {
    display: flex;
    flex-direction: column;
}

.info-paragraph {
    font-size: 14px;
    line-height: 1.71;
    color: #E4D8CC;
}

.info-img2 {
    width: 140px;
    height: 37px;
}

.questions {
    background-color: #101010;
    padding-top: 118px;
    padding-bottom: 153px;
}

.questions-flex {
    display: flex;
}

.questions-title {
    font-size: 36px;
    line-height: 1.27;
    letter-spacing: 1px;
    color: #E4D8CC;
    margin-bottom: 45px;
    margin-right: auto;
}

.questions-flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-list {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.questions-link {
    font-size: 20px;
    line-height: 1.4;
    color: #B99FEA;
}

.questions-img {
    width: 520px;
    height: 539px;
    margin-left: auto;
}

.mission {
    background-image: url(/images/image9.png);
    padding-top: 139px;
    padding-bottom: 112px;
}

.mission-subtitle {
    font-size: 15px;
    line-height: 1.06;
    color: #C3BAB1;
}

.mission-title {
    font-size: 48px;
    line-height: 1.12;
    color: #E7DFD8;
    max-width: 580px;
    margin-top: 19px;
    margin-bottom: 78px;
}

.mission-description {
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E4D8CC;
}

.footer {
    border-top: 1px solid #E7E7E7;
    padding-top: 78px;
    background-color: #101010;
}

.footer-list1 {
    display: flex;
    gap: 42px;
    margin-bottom: 86px;
    align-items: center;
}

.footer-title {
    font-size: 23px;
    line-height: 1.04;
    color: #E4D8CC;
    margin-bottom: 19px;
}

.footer-btn {
    font-size: 16px;
    line-height: 1.5;
    color: #FFFAF5;
    background: #7837F3;
    border: 1px solid #7837F3;
    border-radius: 100px;
    padding: 9px 33px 9px 32px;
}

.footer-contact {
    font-size: 15px;
    line-height: 1.6;
    color: #E4D8CC;
    border: 1px solid #E4D8CC;
    border-radius: 100px;
    padding: 9px 25px;
}

.footer-flex1 {
    display: flex;
    align-items: center;
}

.footer-list2 {
    display: flex;
}

.footer-item3 {
    margin-left: 75px;
    margin-right: 109px;
}

.footer-subtitle {
    font-size: 20px;
    line-height: 1.25;
    color: #E4D8CC;
}

.footer-flex {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.footer-link {
    font-size: 16px;
    line-height: 0;
    color: #E4D8CC;
}

.footer-flex2 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 29px;
}

.footer-img {
    width: 60px;
    height: 55px;
    margin-bottom: 47px;
}

.footer-description {
    font-size: 14px;
    line-height: 28px;
    color: #E4D8CC;
}

.footer-container {
    margin-top: 135px;
    padding-bottom: 37px;
    padding-top: 32px;
    border-top: 1px solid rgba(228, 216, 204, 0.16);;
}

.footer-paragraph {
    font-size: 11px;
    line-height: 1;
    text-align: right;
    color: #E4D8CC;
}